html {
	height: 100%;
}

body {
	height: 100%;
	background-color: $background;
}

.main-content {
	height: 100%;
	position: relative;
	z-index: 1;
	margin: 0 auto;
	max-width: $max-width;
	box-shadow: 0 2px 6px rgba(black, .5);
	background: url('../images/edyandfig-background2.jpg') top center no-repeat;
	background-size: cover;
}
