// ------------------------------------*\
// Fonts
// ------------------------------------*/

// based on: http://type-scale.com/?size=16&scale=1.333&text=A%20Visual%20Type%20Scale&webfont=Libre+Baskerville&font-family=%27Libre%20Baskerville%27,%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333

html {
	font-size: 100%;
}

body {
	font-family: $copy-face;
	color: $copy;
  line-height: 1.45;
}


h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
	font-family: $headings-face;
	font-weight: 500;
	color: $headings;
	text-transform: uppercase;

	&:first-child {
		margin-top: 0;
	}
}

h1 {

  font-size: em(70);

	@include mq($bp-m, true) {
		font-size: em(100);	
	}
}

h2 {
	font-size: em(24);
	letter-spacing: 3px;

	@include mq($bp-m, true) {
		font-size: em(28);
		letter-spacing: 4px;
	}
}

h3 {
	font-size: 1.554875em;

	@include mq($bp-s, true) {
		font-size: 1.777em;
	}
}

h4 {
	font-size: 1.166375em;

	@include mq($bp-s, true) {
		font-size: 1.333em;
	}
}

h5 {
	font-size: .875em;

	@include mq($bp-s, true) {
		font-size: 1em;
	}
}

h6 {
	@extend h5;
	text-transform: uppercase;
}

p, ul, ol, dl, blockquote {
	margin: $spacing 0 0 0;
	font-size: $default-font-size;
	font-weight: 200;

	&:first-child {
		margin-top: 0;
	}
}

blockquote {
	padding: 0 0 0 1em;
	border-left: 2px solid $copy;
}

// stop nested ul's getting smaller and smaller
ul ul {
	font-size: 100%
}

a {
	@include links;
}

small, .font_small {font-size: 75%;}

strong, b {
	font-weight: 500;
	color: $copy;
}
