.site-header {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  top: em(20);

  @include mq($bp-m) {
    top: em(30);
  }
}

.welcome {
  margin: 0;
  color: $background;
  text-transform: uppercase;
  font-size: em(20);
  letter-spacing: 3px;
  display: none;

  @include mq($bp-m) {
    display: block;
  }
}

.site-title {
  color: $background;
  margin: 0 auto 0 auto;
  font-size: 1em;
  text-indent: -9999px;
  overflow: hidden;
  width: 275px;
  height: 120px;
  background: url('/assets/images/edyandfig.svg') center top no-repeat;
  background-size: contain;

  @include mq($bp-s) {
    width: 300px;
    height: 125px;
  }

  @include mq($bp-m) {
    width: 400px;
    height: 200px;
    margin-top: 1em;
  }

  @include mq($bp-l) {
    width: 500px;
    height: 250px;
  }
}
